#linksBackground {
    border-radius: 20px;
    /*background: #73AD21;*/
    background: url(img/blackStripes.jpg);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    min-width: 700px;
    min-height: 300px;
}
